<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayPal Integration</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>PayPal Integration Example</h1>
        <form action="/make_payment" method="post">
            <label for="amount">Amount:</label>
            <input type="number" name="amount" required>
            <button type="submit">Make Payment</button>
        </form>
        
    </div>
</body>
</html>
